# Node modules
node_modules/

# Environment variables
config.env

# Logs
logs/
*.loga

node_modules

# Ignore specific export files
employees.pdf
employees.Excel
employees.CSV
*.csv
*.pdf
*.xlsx
logs
